<!doctype html>
<html lang="en">
  <head>
  	<title>Webcam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="loading"></div>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="p-4 pt-5">
          <h1><a href="{{ url_for('home') }}" class="logo">Visionet</a></h1>
          <ul class="list-unstyled components mb-5">
            <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">NLP</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
				<li>
                    <a href="{{ url_for('nlp_summ_home') }}">NLP 1</a>
                </li>
                <li>
                    <a href="#">NLP 2</a>
                </li>
                <li>
                    <a href="#">NLP 3</a>
                </li>

          </ul>
  
  
  
          </li>
  
          </ul>
  
  
  
  
  
        </div>
      </nav>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
 <!-- <style> -->
	<!-- img { -->
  	<!-- display: block; -->
  	<!-- margin-left: auto; -->
  	<!-- margin-right: auto; -->
	<!-- width: 35% -->
	<!-- } -->
    <!-- </style> -->
   
	<h6 style="font-weight: 400;color: #6d94a1;" align="center">Summarization</h6>
	<h1  style= "font-weight: 400; color:#2F5662;" align="center"  >Absolute Estimation</h1>
	<p style="color:#458092;"><b>Simple Pose </b>model consists of a main body of a resnet, and several deconvolution layers. Its final layer is a convolution layer predicting one heatmap for each keypoint. 

 <!-- <p style="color:#458092;" align="center">Video Streaming</p> -->
 <br><br>
 <h6 style="color:#458092;  margin-top: 15px; margin-bottom: 0px;">Input Box</h6>
 <p style="color:#458092;" >Please enter text that you would like to summarize</p>
 
 <body>
	<div class="body" ng-app="myApp">
		<div class="wrapper" ng-controller="MyCtrl">
	<form name="form" action="/nlp/summarization/abs"  method="POST">
	  <textarea cols="100" rows="10" name="textarea" id="textarea"></textarea>   
	<br>
	<br>
		<div class="button">
		<input type="submit" class="button" value="SUBMIT">
		</div>
	</form>
	  </div>
	</div>
<!-- 	<br><br>
	<div class="footer">
	  <footer style="color:black;font-weight:600;">&copy; Copyright 2020 MVK</footer>
	</div> -->
	<body>
		<h6 style="color:#458092;  margin-top: 15px; margin-bottom: 0px;">Output Text</h6><br>
		<p style="color:#458092;" >Your results will be displayed here</p>
		<div class="card card-1">
		  <br><br>{{ res }}<br><br><br>
		  <div id="editor"></div>
		  <!-- <center>EDIT <i class="fa fa-hand-o-down"> -- </i> Download <a download="Summarizied-Content.doc" id="download" title="Download as PDF"><i class="fa fa-cloud-download"></i></a>  Copy  <button title="Copy to Clipboard" id="copying" onclick="myFunction()"><i class="fa fa-copy"></i></button>
			<textarea id="myInput">{{ res }}</textarea>
		</center> -->
		</div>
		<!-- <div class="footer">
		  <footer style="color:black;font-weight:600;">&copy; Copyright 2020 MVK</footer>
		</div> -->
		</body>
    
      </div>
		</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- 	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> -->
  </body>
</html>